/* Meu primeiro arquivo .css */

/* Corpo da página */
body{
    background-color:gray;
}

/* Paragráfo */
p{
    color:black;
    font-size: 15px;
    font-style:"Arial, Times news roman";
}

/* Títulos */
h1{
    color:blue;
    text-shadow: 1px 1px black;
    text-align: center;
    margin:0 0 50px 0;
}

/*Remover espaçamento padrao do navegador */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* cabeçalho */
header{
    background-color:#35B8AC;
    height: 80px;
    padding: 20px;
}

/* rodapé */
footer{
    clear: both;
    background-color:#35B8AC;
    min-height: 100px;
    text-align: center;
    color:blueviolet;
    text-shadow: 1px 1px black;
}

/* Div */
#principal{
    background-size: 100%;
    background-image: url(../img/cidade.jpeg);
    background-color: red;
    min-height:800px;
    padding:100px;
}

/* calsses */
.container{
   width: 960px;
   margin: auto;
   padding: auto;
}

/* Efeito sombra */
.efeito{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10 0 100px 0;
}